.nav {
    background: #000000;
    font-size: 12px;
    li {
        line-height: 36px;
        padding: 0 12px;
        float: left;
        a {
            color: #cccccc;
        }
        a:hover {
            color: #ffffff;
        }
    }
    ul {
        float: right;
        li {
            float: left;
            line-height: 36px;
            padding: 0 12px;
            a {
                color: #cccccc;
            }
            a:hover {
                color: #ffffff;
            }
        }
    }
}

.nav {
    .downland_li {
        position: relative;
        &:hover .downland {
            display: block;
        }
        .downland {
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -8px;
                border: 8px solid transparent;
                border-bottom-color: white;
                top: -15px;
                z-index: 10;
            }
            position: absolute;
            width: 124px;
            height: 142px;
            top: 36px;
            left: 50%;
            text-align: center;
            margin-left: -71px;
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .15);
            display: none;
            img {
                height: 80px;
                width: 80px;
                margin: 20px auto 0;
                display: block;
            }
        }
    }
}